
#error {
    display: none;
    background-color: #EAA;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#map {
    min-height: 400px;
}

#content li {
    list-style-type: none;
    border-bottom: 1px dotted #666;
    padding-bottom: 5px;
    padding-top: 5px;
}
