body {
    padding: 10px;
    font-family: Sans-Serif;
}

#container {
    padding: 10px;
}

#error, #info {
    display: none;
    background-color: #EAA;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#error {
    background-color: #EAA;
}

#info {
    background-color: #AEA;
}

#map {
    height: 400px;
    width: 600px;
    float: left;
    margin-left: 10px;
}

#content {
    display: block;
    float: left;
    padding: 0;
}

#content li {
    list-style-type: none;
    border-bottom: 1px dotted black;
}
